body {
    background-color: #f9f9f9;
}

pre {
    background-color: #49483e;
}

ul.post-summary {
    list-style: none;
}

.container-narrow {
    width: 80%;
}

.navbar {
    background-color: #EEEEEE;
    border-radius: 0 0 5px 5px;
    min-height: 60px;
}

.nav>li>a {
    color: #999;
}

.nav>li>a:hover {
    color: #47d17c;
}

.nav>li>a:active {
    color: #47d17c;
}

.nav>li.active>a {
    color: #47d17c;
}

.banner {
    background-image: url("/img/path-gray.jpg");
    background-size: cover;
    background-position: center 20%;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.banner .personal-img {
    margin: 0 50px 0 150px;
    vertical-align: top;
}

.banner .banner-title {
    display: inline-block;
    margin-left: 100px;
}

.intro-part {
    padding: 50px 0 50px 50px;
}

.text-white {
    color: #ffffff;
}

.right-align {
    text-align: right;
}

.animate-delay {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animate-slow {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.footer {
    width: 100%;
    margin-top: 50px;
    height: 50px;
    background-color: #EEEEEE;
    padding: 10px 0;
}

.align-center {
    text-align: center;
    margin: 5px auto;
}

.blog {
    padding: 20px 0 50px 30px;
}

.post-summary {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 5px;
    padding: 20px 0 0 50px;
    min-height: 500px;
}

.post-title {
    color: #47d17c;
    padding: 30px 0 20px 0;
}

.post-date {
    margin-left: 40px;
    margin-top: 10px;
}
