body {
    background: #F6F6F6;
    background: -webkit-linear-gradient(#F6F6F6, #FAFAFA);
    background: -o-linear-gradient(#F6F6F6, #FAFAFA);
    background: -moz-linear-gradient(#F6F6F6, #FAFAFA);
    background: linear-gradient(#F6F6F6, #FAFAFA);
}

.align-center {
    text-align: center;
}

.font-inverse {
    color: #999999;
}

.posts {
    margin-top: 60px;
}

.article {
    margin: 50px 20px 0 20px;
    padding: 20px;
    border-radius: 5px;
    max-width: 760px;
}

.footer {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #222;
}
