ul {
    list-style-type: none;
}

body.main-content {
    background: #4d4d4d;
}

.headline {
    padding: 25px 40px 25px 40px;
    background: #333;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.container-narrow {
    width: 70%;
}

.fa {
    color: #999;
}

.fa:hover {
    color: #fff;
}

.align-center {
    text-align: center;
}

.font-inverse {
    color: #999999;
}

.article {
    margin: 0 20px 0 20px;
    padding: 20px;
    border-radius: 5px;
    max-width: 760px;
}

.footer {
    bottom: 0;
    margin: 30px 0 0 0;
    padding: 10px 0 10px 0;
    border-width: 1px 0 0;
    background: #333;
}

.text-white {
    color: #fff;
}

#personal-img {
    margin-left: 40px;
    width: 160px;
}
