.container-narrow {
    width: 80%;
}

.navbar {
    background-color: #EEEEEE;
    border-radius: 0 0 5px 5px;
    min-height: 40px;
}

.nav>li>a {
    color: #999;
}

.nav>li>a:hover {
    color: #47d17c;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px; 
}

.banner {
    background-image: url("/img/banner-gray.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.banner .personal-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 50px 0 50px;
    vertical-align: top;
}

.banner .banner-title {
    display: inline-block;
    margin-left: 100px;
}

.text-white {
    color: #fff;
}

.right-align {
    text-align: right;
}

.delay-5 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 15px;
    padding: 7px 0 10px 0;
    background-color: #EEEEEE;
}

.align-center {
    text-align: center;
    margin-left: 40%;
}
