<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the personal blog of franklingu. It is mainly to share with others 
         about the experience in programming as well as serve as a blog to record personal life.">
    <meta name="keywords" content="franklingu, gu junchao, blog, peronal blog, programming">
    <meta name="author" content="franklingu">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <title>{% if page.title %}{{ page.title }} | {% endif %}franklingu's blog</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
</head>

<body class="main-content">
    <nav class="navbar navbar-inverse animated bounceInDown" role="navigation" id="main-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Junchao</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/posts/index.html">Posts</a></li>
                    <li><a href="#">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" id="content">
        <div class="col-sm-12">
            <div class="headline row narrow-1">
                <div class="col-sm-3">
                    <img src="/img/personal-img.jpg" class="animated fadeIn delay-5 img-circle" id="personal-img">
                </div>
                <div class="col-sm-9">
                    <h1 class="animated bounceIn delay-5 text-white bold">Junchao(Franklin)'s Blog</h1>
                    <div class="col-sm-offset-3 col-sm-6">
                        <p class="animated bounceIn delay-5 text-white bold">--a bit of thought, programming and life</p>
                    </div>
                </div>
            </div>
        </div>
        {% if content %}
            {{content}}
        {% endif %}
    </div>
    <div class="footer animated bounceIn">
            <div class="align-center font-inverse">
                @Copy <a href="mainto:franklingjunchao@gmail.com">franklingu</a> 2014 | All rights reserved
            </div>
        </div>
</body>
</html>
