<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the personal blog of franklingu. It is mainly to share with others 
         about the experience in programming as well as serve as a blog to record personal life.">
    <meta name="keywords" content="franklingu, gu junchao, blog, peronal blog, programming">
    <meta name="author" content="franklingu">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <title>{% if page.title %}{{ page.title }} | {% endif %}franklingu's blog</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
</head>

<body class="main-content">
    <div class="row">
        <div class="container">
            {% if content %}
                {{content}}
            {% endif %}
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="align-center font-inverse">
                    @Copy franklingu 2014 | All rights reserved
                </div>
            </div>
        </div>
    </div>
</body>
</html>